* {
	padding: 0;
	margin: 0;
	}
/*html, body {
	height: 100%;
}*/
body{
	background-color: #f9f9f9;
  	font-family:  myriad Pro;
  	margin-bottom: 0;
  }

.block {  
  width: 966px;
  height: 100%;
  margin: 0 auto;
  padding: 48px 40px 50px 48px; 
  background-color: #ffffff;
  	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
/*header*/
.header, .topmenu {
	width: 966px;
	height: 40px;
	margin: 40px 0;
	background: rgba(74,74,74,1);
	background: -moz-linear-gradient(left, rgba(74,74,74,1) 0%, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 0%, rgba(87,87,87,1) 26%, rgba(69,69,69,1) 33%, rgba(56,56,56,1) 51%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(18,18,18,1)), color-stop(0%, rgba(28,28,28,1)), color-stop(26%, rgba(87,87,87,1)), color-stop(33%, rgba(69,69,69,1)), color-stop(51%, rgba(56,56,56,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(left, rgba(74,74,74,1) 0%, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 0%, rgba(87,87,87,1) 26%, rgba(69,69,69,1) 33%, rgba(56,56,56,1) 51%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(left, rgba(74,74,74,1) 0%, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 0%, rgba(87,87,87,1) 26%, rgba(69,69,69,1) 33%, rgba(56,56,56,1) 51%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(left, rgba(74,74,74,1) 0%, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 0%, rgba(87,87,87,1) 26%, rgba(69,69,69,1) 33%, rgba(56,56,56,1) 51%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to right, rgba(74,74,74,1) 0%, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 0%, rgba(87,87,87,1) 26%, rgba(69,69,69,1) 33%, rgba(56,56,56,1) 51%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#131313', GradientType=1 );

}
a {
	text-decoration: none;
	color: black;
}
.topmenu {
	position: relative;
	overflow: hidden;
}
.topmenu li {
	list-style: none;
	line-height: 40px;
	text-align: center;
}
.topmenu a {
	float: left;
	display: block;	
    margin: 0 22px;
    padding: 0 22px;
    font-family: myriad Pro;
	font-size: 14px;
	line-height: 40px;	
	color: white;	
	text-decoration: none;
	text-align: center;
	background: rgba(74,74,74,0); 
	border-left: 1px solid rgba(131,131,131,0);
	border-right: 1px solid rgba(131,131,131,0);
	transition: 0.2s all;
	}

.topmenu li:first-child > a {
	 margin-left: 0; 
}
.topmenu a:hover { 
    border-left:  1px solid rgba(131,131,131,1);
	border-right: 1px solid rgba(131,131,131,1);

	background: rgba(74,74,74,1);
	background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(46,46,46,1)));
	background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
	background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
	background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
	background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(46,46,46,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#2e2e2e', GradientType=0 );
}
/* end of header*/

/* sidebar*/
.container {
	position:  relative;
	overflow: hidden;
}

.left_menu {
	float: left;
	width: 240px;
	height: 240px;
	margin: 0;
}
.left_menu li {
	list-style: none;
}
.left_menu a {
	display: block;
	line-height: 38px;
	padding-left: 22px;
	background-color: #ffffff;
	font-family:  myriad Pro;
	font-size: 14px;
	text-decoration: none;	
	color: #656363;
	transition: 0.2s all;

}
.left_menu a:hover {
	padding-left: 36px;
	background-color: #f9f9f9;
	color: #2c2c2c;
}
.left_menu li {
	border: 1px solid #c8c8c8;
	border-bottom: none;
}
.left_menu li:last-child {
	border-bottom: 1px solid #c8c8c8;
}
/* end of sidebar*/
/* center content*/
.center {
	width: 678px;
	float: right;
}
.foto img {
	width: 678px;
	height: 400px;
	border: 1px solid #c8c8c8;
	text-align: center;
}
.center .some_text p {
	padding: 30px 30px 60px;
	font-family: myriad Pro;
	font-size: 13px;
	line-height: 1.5em;
	letter-spacing: normal;
}
/* end of center content*/
/* footer*/
.footer {
	
	padding: 0;
	margin: 0;
}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
.footer .footmenu {
	position: relative;
	overflow: hidden;
	background-color: #e1e1e1;	
}
.footmenu li {	
	list-style: none; 
	line-height: 40px;
	float: left;
	text-align: center;
}
.footmenu a {
	color: #2c2c2c;	
	text-decoration: none;
	display: block;
	padding: 0 25px;
	margin-right: 40px;
	font-size: 13px;
	font-family: myriad Pro;	
}
.footmenu .copyright {
	float: right;
	padding-right: 25px;
}
.footmenu .copyright a{
	text-align: right;
	padding-right: 0;
	margin-right: 0;
}
.footmenu li>a:hover {
	text-decoration: underline;
}
/* end of footer*/